<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Análise</title>
</head>

<body>
  @include('nav/nav')
  <link href="../css/charts/charts.css" rel="stylesheet">
  <div class="container justify-content-center">
    <div class="row ">
      <div class="col-md-6 ">
        <h4 class="text-center">Incidências de possíveis casos de Covid-19</h4>
        <div class="card card-chart " id="container">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
      <div class="col-md-2">
        <br>
        <p>Selecione um Mês</p>
        <div class="div-select ">
          <select onchange="BuscarDados()" id="selectData" class=" select-custom">
            <option value=0>Todos</option>
            <option value=012020>01/2020</option>
            <option value=022020>02/2020</option>
            <option value=032020>03/2020</option>
            <option value=042020>04/2020</option>
            <option value=052020>05/2020</option>
            <option value=062020>06/2020</option>
            <option value=072020>07/2020</option>
            <option value=082020>08/2020</option>
            <option value=092020>09/2020</option>
            <option value=102020>10/2020</option>
            <option value=112020>11/2020</option>
            <option value=122020>12/2020</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="../js/charts/charts.js" type="text/javascript"></script>


</body>

</html>