<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Principal</title>
</head>

<body>
  @include('nav/nav')

  <br>
  <div class="card container card-principal text-center">
    <br>
    <h2>
      Monitoramento das condições de saúde dos colaboradores
    </h2>
    <h3>
      Prezado Sr. / Sra.,<br><br>

      A implementação deste Programa é importante para garantirmos a Segurança dos Colaboradores e Segurança dos Alimentos.

      Esse Programa contempla aplicação de um conjunto de perguntas sobre as condições de saúde dos colaboradores e aferição da temperatura corporal.
    </h3>
    <br>
    <a href="/Survey" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Iniciar Pesquisa Agora !</a>
  </div>



</body>

</html>

<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
</script><script src="../js/pesquisa.js" type="text/javascript"></script>

