<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/principal/principal.css" rel="stylesheet">
  <title>Principal</title>
</head>
<body>
  @include('nav/nav')
  <br><br>

<div class="card container text-center">

  <form>
    <div class="form-row text-center">
      <div class="form-group col-md-12">
        <h4> 1 : Informe a Unidade :</h4>
        <select id="inputState" class="form-control">
          <option selected>Selecione uma resposta...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4> 2 : Selecione o Gerente :</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4> 3 : Responsável pela coleta de dados:*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4>4. Matrícula do Funcionário:*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4>5. Nome do Colaborador:*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4>6. Temperatura:*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4>7. Você está com algum sintoma de gripe ou resfriado (tosse, coriza,
           espirros, etc.) ?*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4>8. Na última semana você apresentou febre (acima de 37,8°C) ou
          sintomas de gripe associados com dificuldade para respirar?*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4>9. Na última semana, você esteve em contato com algum caso confirmado de COVID-19?*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <h4>10. Você já foi diagnosticado com COVID-19?*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>


      <div class="form-group col-md-12">
        <h4>11. Declaro que as informações acima prestadas são verdadeiras,
           e assumo a inteira responsabilidade pelas mesmas.*</h4>
        <select id="inputState" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>






    </div>
  </form>
</div>
<br><br>
</body>
</html>
