.card-chart{
  padding-top: 10px;
}
.custom{
  padding-top: 10px;
}
.select-custom{
  border-radius: 5px;
  background: white;
  width: 90px;
  text-align-last: center;

}
.div-select{
  width: 85px;
}