body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 400px;
}
/* Chrome, Safari, Edge, Opera  REMOVER ARROW DO INPUT NUMBER*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.select-custom{
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark-color(white, black);
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  border-image: initial;
}
.card-principal{
  max-width: 600px;
  border-radius: 20px;

}
.card-quests{
  margin-bottom: 10px;
}

.div-temp{
  padding-top: 0px;
  padding-bottom: 10px;
}
.div-responsavel{
  padding-top: 0px;
}

.input-responsavel{
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: calc(2.25rem + 2px);
}
.input-temp{
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height: calc(2.25rem + 2px);
}
.responsabilidade{
  color: red;
}
.customCheck{
  min-height: 40px
}

.customSelect{
  padding-left: 10px;
  min-height: 40px
}
input[type="month"] {
  position: relative;
}

input[type="month"]:after {
  content: "\25BC";
  color: #555;
  padding: 0 5px;
}


input[type="date"]:hover:after {
  color: #bf1400;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}


input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}


input[type="date"]::-webkit-clear-button {
   z-index: 1;
}
