<footer class="footer footer-white footer-big text-center">
  <div class="copyright text-center custom" aria-placeholder="MOR INFO">
    <a href="https://morinfo.com.br">
      &copy
      <script>
        document.write(new Date().getFullYear())
      </script> MORINFO
    </a>
  </div>
</footer>