<footer  class="footer footer-white footer-big text-center">
  <div class="copyright text-center custom">
    &copy <script>
      document.write(new Date().getFullYear())
    </script> MOR INFO.
  </div>
</footer>